@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

* {
  font-family: "Arimo", sans-serif;
}
.App {
  font-family: "Arimo", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f4f4f9;
  min-height: 100vh;
  padding: 2rem;
}
.firstpage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;
}
.firstpage h1{
  margin: 0;
  font-size: 1.8rem;
  color: #2c3e50;
  font-weight: 600;
}
.firstpage p{
  font-size: 1.1rem;
  color: #34495e;
  line-height: 1.6;
  margin-top: 0.5rem;
}

.devotional {
  background: #ffffff;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 100%;
  border: 1px solid #e0e0e0;
}

.scripture-section {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
  align-items: center;
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 1.5rem;
}

.scripture-text h3 {
  margin: 0;
  font-size: 1.8rem;
  color: #2c3e50;
  font-weight: 600;
}

.scripture-text button {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  color: #fff;
  background-color: #34495e;
}

.scripture-text p {
  font-size: 1.1rem;
  color: #34495e;
  line-height: 1.6;
  margin-top: 0.5rem;
}

.scripture-image img {
  max-width: 150px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.devotional-content h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #2c3e50;
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 0.5rem;
}

.devotional-content p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: #555555;
  line-height: 2.5;
}

.devotional-content h4 {
  font-size: 1.4rem;
  margin-bottom: 0.75rem;
  color: #34495e;
  font-weight: 600;
}

.reflection,
.prayer,
.affirmation {
  margin-top: 2rem;
}

.reflection h4,
.prayer h4,
.affirmation h4 {
  font-size: 1.5rem;
  color: #2980b9;
}

.author {
  font-style: italic;
  text-align: right;
  color: #7f8c8d;
  margin-top: 3rem;
  border-top: 2px solid #e6e6e6;
  padding-top: 1rem;
}

.intro {
  background: #ffffff;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 100%;
  border: 1px solid #e0e0e0;
}
